<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
  <input type="button" onclick="alert('Camilo Ernesto Sincal Sipac - 202000605')" id="ayuda" value="Ayuda">
  <h2>Chet</h2>
  <h3 id="subtitle">Videogames Store</h3>
  
  <hr>
  <div id="message">
    {%for msg in messages%}
      <p id="txtmessage">{{ msg }}</p>
  {%endfor%}
  </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
        var bar2Config = {
          type:'bar',
          data:{
            datasets: [{
              data: {{numClas|safe}},
              backgroundColor:{{clasColors|safe}},
              label: 'Cantidad por clasificacion'
            }],
            labels: {{Clasificacion|safe}}
          },
          options: {
            
            responsive: true
          }
        }
        var barConfig ={
          type:'bar',
          data:{
            datasets: [{
              data: {{gasto|safe}},
              backgroundColor:{{barColores|safe}},
              label: 'Monto Gastado'
            }],
            labels: {{namesC|safe}}
          },
          options: {
            responsive: true
          }
        };
        var config = {
          type: 'pie',
          data: {
            datasets: [{
              data: {{copias|safe}},
              backgroundColor:{{colores|safe}},
              label: 'Juegos Más vendidos'
            }],
            labels: {{namesGames|safe}}
          },
          options: {
            responsive: true
          }
        };
        
        window.onload = function() {
          var ctx = document.getElementById('pie-chart').getContext('2d');
          var ctx2 = document.getElementById('bar-chart').getContext('2d');
          var ctx3 = document.getElementById('clas-chart').getContext('2d');
          window.myPie = new Chart(ctx, config);
          window.myBar = new Chart(ctx2,barConfig);
          window.myBar2 = new Chart(ctx3,bar2Config)
        };
    
      </script>
      <div class="formulario" id="tarea">
        <form action="/csvfiles/" method="post"  enctype="multipart/form-data">
          {% csrf_token %}
          <div>
            <div id="Files">
              <p id="texto">Cargar Clientes</p>
              <input type="file" name="clientesdata" id="btn">
            </div>
            
            <div id="Files">
              <p id="texto">Cargar Mejores Clientes</p>
              <input type="file" name="mejoresdata" id="btn">
            </div>
            <div id="Files">
              <p id="texto">Cargar Juegos Mas Vendidos</p>
              <input type="file" name="juegosvendidosdata" id="btn">
            </div>
            <div id="Files">
              <p id="texto">Cargar todos los juegos</p>
              <input type="file" name="juegosdata" id="btn">
            </div>
          </div>
          <div id="sendBtn">
            <input type="submit" value="Enviar" id="envbutton">
          </div>

      </div>
    
    </form>
    <div>

      <div class="area">
        <h2><span>XML A ENVIAR</span></h2>
        <form action="/sendXML/" method="post"  enctype="multipart/form-data">
          {% csrf_token %}
          <textarea name="out" id="out" cols="120" rows="50" id= >
            {{XML}}
        </textarea>
        <div id="sendXML"><input type="submit" value="Enviar XML" id="btnXML"></div>
          
      </form>
      </div>
      
      
      <div class="area">
        <h2><span>XML RETORNADO</span></h2>
        <textarea name="out2" id="out2" cols="120" rows="50" readonly>
            {{content}}
        </textarea>
      </div>
    </div>
    
    <hr>
    <div class="Graficas">
      
      <h1>Graficas</h1>
      
    <h3>Mejores Clientes</h3>
    <div id="container" style="width: 75%;">
      <canvas id="bar-chart"></canvas>
  </div>
  <h3>Juegos Más Vendidos</h3>
  <div id="container" style="width: 75%;">
      <canvas id="pie-chart"></canvas>
  </div>
  <h3>Clasificaicones</h3>
  <div id="container" style="width: 75%;">
      <canvas id="clas-chart"></canvas>
  </div>
  <h3>Cumpleaños de Clientes</h3>
      <table>
        <thead>
          <tr>
            <td>Nombre y Apellido</td><td>Fecha</td>
          </tr>
        </thead>
        {%for i in dataCum%}
          <tr>
              <td>{{i.nombreC}}</td>
              <td>{{i.fechaC}}</td>
          </tr> 
        {% endfor%}
      </table>
  <h3>Listado de Juegos</h3>
  <table>
    <thead>
      <tr>
        <td>Nombre del juego</td><td>Stock</td>
      </tr>
    </thead>
    {%for i in dataJuegos%}
       <tr class={{i.estado}}>
          <td>{{i.nombre}}</td>
          <td>{{i.stock}}</td>
       </tr> 
    {% endfor%}
  </table>

    </div>
    
</body>
</html>